<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62950822066-l82jdvnvssnerhtlp1v3v5s36usb3tk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62950822066-l82jdvnvssnerhtlp1v3v5s36usb3tk9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>62950822066-co2fc8f5h1uiljr7rr7cdh6ps6k00k57.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Bxwrr7g4dpJ8AACsuBvr02jocE3TfgI</string>
	<key>GCM_SENDER_ID</key>
	<string>62950822066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bevyMessenger</string>
	<key>PROJECT_ID</key>
	<string>bevy-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>bevy-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62950822066:ios:08dbb278e98806ce9af9ab</string>
</dict>
</plist>